In [2]:
a = (1,2,3,4)

a[2:3]

(3,)

In [4]:
import pandas as pd

data = {
  "calories": [500, 100, 90],
  "duration": [35, 20, 45]
}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       500        35
1       100        20
2        90        45

In [5]:
print(df.loc[[0, 1]])

   calories  duration
0       500        35
1       100        20

In [6]:
import pandas as pd

# Read the CSV file into a DataFrame
# df = pd.read_csv("C:/Users/Emre/Desktop/data.csv")

# Print the contents of the DataFrame
# print(df)

In [7]:
print(df.columns)
print(df.info())
print(df.describe())

Index(['calories', 'duration'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  3 non-null      int64
 1   duration  3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes
None
         calories   duration
count    3.000000   3.000000
mean   230.000000  33.333333
std    233.880311  12.583057
min     90.000000  20.000000
25%     95.000000  27.500000
50%    100.000000  35.000000
75%    300.000000  40.000000
max    500.000000  45.000000

In [8]:
print(df["calories"])

0    500
1    100
2     90
Name: calories, dtype: int64

In [9]:
print(df.loc[:, "duration"])

0    35
1    20
2    45
Name: duration, dtype: int64

In [11]:
print(df.loc[::-2])

   calories  duration
2        90        45
0       500        35

In [13]:
import numpy as np

ort= np.mean(df.duration)
print(ort)

33.333333333333336

In [14]:
import pandas as pd

dictionary = {"name":["ayse","muhammet","zeynep","ahmet","zerrin","elif"],
             "age":[12,21,22,55,None,29],
             "note":[258,456,78,87654,None,89]}

dataframe1 = pd.DataFrame(dictionary) 
print(dataframe1)

       name   age     note
0      ayse  12.0    258.0
1  muhammet  21.0    456.0
2    zeynep  22.0     78.0
3     ahmet  55.0  87654.0
4    zerrin   NaN      NaN
5      elif  29.0     89.0

In [15]:
print(dataframe1.note.mean()) #ortalama not hesabı

dataframe1["ortalama"]= ["ortalamanın altında" if dataframe1.note.mean()>each else "ortalamanın üstünde" for each in dataframe1.note]
dataframe1,

17707.0

(       name   age     note             ortalama
 0      ayse  12.0    258.0  ortalamanın altında
 1  muhammet  21.0    456.0  ortalamanın altında
 2    zeynep  22.0     78.0  ortalamanın altında
 3     ahmet  55.0  87654.0  ortalamanın üstünde
 4    zerrin   NaN      NaN  ortalamanın üstünde
 5      elif  29.0     89.0  ortalamanın altında,)

In [16]:
dataframe1.columns = [ each.split(" ")[0]+"_"+each.split(" ")[1] if len(each.split(" "))>1 else each for each in dataframe1.columns]
dataframe1

       name   age     note             ortalama
0      ayse  12.0    258.0  ortalamanın altında
1  muhammet  21.0    456.0  ortalamanın altında
2    zeynep  22.0     78.0  ortalamanın altında
3     ahmet  55.0  87654.0  ortalamanın üstünde
4    zerrin   NaN      NaN  ortalamanın üstünde
5      elif  29.0     89.0  ortalamanın altında