In [2]:
a=2
b=10
c=6.9
name="Aysenur"
print(a+b+c)
print(name)

18.9
Aysenur

In [3]:
num1=2
num2=9
num3=11

my_list=[num1,num2,num3]
print(my_list)
type(my_list)

[2, 9, 11]

list

In [6]:

my_list_=["ayse",num1,num2,num3]
print(my_list_)

type(my_list_[0])

['ayse', 2, 9, 11]

str

In [7]:
value=my_list_[0]
print(value)

ayse

In [9]:

list_divide= my_list_[0:3]
print(list_divide)

['ayse', 2, 9]

In [10]:
dir(my_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [15]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [17]:
list=[10,9,8,7,6,5]
list.append(4)
print(list)

[10, 9, 8, 7, 6, 5, 4]

In [18]:
list.remove(10)
print(list)

[9, 8, 7, 6, 5, 4]

In [19]:
list.reverse()
print(list)

[4, 5, 6, 7, 8, 9]

In [27]:

for each in range (4,11):
  print(each)

4
5
6
7
8
9
10

In [28]:
for each in "istanbul":
    print(each)

i
s
t
a
n
b
u
l

In [29]:
list1=[2,3,5,9,9]
list2=[4,5,32,45]
sum(list1+list2)

114

In [30]:
min(list1) + min(list2)

6

In [31]:
for i in range(0,100):
    if i%2==0 or i%5==0:
        print(i)

0
2
4
5
6
8
10
12
14
15
16
18
20
22
24
25
26
28
30
32
34
35
36
38
40
42
44
45
46
48
50
52
54
55
56
58
60
62
64
65
66
68
70
72
74
75
76
78
80
82
84
85
86
88
90
92
94
95
96
98

In [34]:

min = list1[0]
max= list1[0]
 
for i in range(1,5):
    if min > list1[i]:
        min = list1[i]
    if max < list1[i]:
        max = list1[i]
        
print("En büyük değer : {0} ".format(max))
print("En küçük değer : {0} ".format(min))

En büyük değer : 9
En küçük değer : 2

In [36]:
1 == False
1 == True 
1== False

False

In [37]:

number1=10
number2=55

if (number1 < number2):
    
    print("number1 number2 den küçüktür")
    
elif (number1 == number2):
    print("number1 number2 ye eşittir")
    
else :
    
    print("number1 number2 den büyüktür")

number1 number2 den küçüktür

In [38]:
i=7
while (i>1):
    
    print(i)
    
    i = i-1

7
6
5
4
3
2

In [40]:

def cemberalan(r,pi=3.14):    
 
    output = pi*r*r
    
    return output

alan(4)

50.24

In [41]:

def dikdortgen_alani(a,b):
    
    output= a*b/2
    
    return output

sonuc = dikdortgen_alani(7,2)
sonuc

7.0

In [42]:
output2 = lambda x,y: x*y/2 

print(output2(4,3))

6.0

In [44]:

yas = {"ayse":21, "zeynep":24, "talha":26}

type(yas) 

yas["zeynep"]

24

In [47]:
type(yas["ayse"]) 
yas.keys() 
yas.values()

def function():
    
    dictionary = {"ayse":21, "zeynep":24, "talha":26}
    
    return dictionary

dic = function()

dic["ayse"]

21

In [48]:

def yastoplam():

    return yas["talha"]+yas["zeynep"]

yastoplam()

50

In [49]:

keys = yas.keys() 

if "muhammet" in keys: 
    
    print("evet")

else:
    print("hayır")

hayır